@tailwind base;
@tailwind components;
@tailwind utilities;

.active hr{
    @apply block
}

::-wevkit-scrollbar{
    @apply hidden
}

.slick-slide > div {
    margin: 0 10px;
}
.slick-arrow::before{
    color: gray !important;
    font-size:  50px;
}


